/* style.css */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.hidden { display: none; }

/* Animație mică pentru hover pe linkuri */
nav a:hover {
    opacity: 0.8;
}
@font-face {
    font-family: 'GlaserStencil';
    src: url('fonts/Glaser Stencil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Marsh Stencil Regular';
    src: url('fonts/Marsh Stencil Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}